@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Product Details";
}
@model ShoppingCart
<div style="margin-top:100px;margin-bottom:100px;">
<form method="post">
        <div class="card  container">
            <div class="card-header bg-primary text-light ml-0  row ">
                <div class=" col-md-6">
                    <h1 class="text-success">@Model.product.Name</h1>
                    <p class="text-warning">by @Model.product.Author</p>
                </div>
                <div class=" col-md-6 text-end pt-4">
                    <span class="badge bg-info pt-2" style="height:30px;">@Model.product.Category.Name</span>
                    <span class="badge bg-warning pt-2" style="height:30px;">Category</span>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">

                            <div class="row pl-2">
                                <h5 class="text-info">ISBN : <span style="color:antiquewhite;">@Model.product.ISBN</span></h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-info pb-2">List Price: <strike><span style="color:indianred;">$@Model.product.listprice</span></strike></h5>
                            </div>
                            <div class="row text-center pl-2">
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div style="color:#5BC0DE">Quantity</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div style="color:#5BC0DE">1-49</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div style="color:#5BC0DE">50-99</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary border-bottom">
                                    <div style="color:#5BC0DE">100+</div>
                                </div>
                            </div>
                            <div class="row text-center pl-2" style="color:lawngreen; font-weight:bold">
                                <div class="p-1 col-2 bg-secondary">
                                    <div>Price</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary">
                                    <div>$@Model.product.price</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary">
                                    <div>$@Model.product.price50</div>
                                </div>
                                <div class="p-1 col-2 bg-secondary">
                                    <div>$@Model.product.price100</div>
                                </div>
                            </div>
                            <div class="row pl-2">
                                <p class="text-secondary">@Html.Raw(Model.product.Description)</p>
                            </div>
                            <div class="row pl-2">
                                <div class="col-3 text-primary"><h4 style="color:#5BC0DE;white-space:nowrap;" >Count</h4></div>
                                <div class="col-9"><input width="2em" class="form-control"  /></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img style="box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;" src="/@Model.product.ImageURL" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a class="btn btn-warning form-control " asp-action="Index" style="height:50px;">Back to List</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" value="Add to Cart" class="btn btn-success form-control" style="height:50px;">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
</form>
</div>
