@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using BooksGalore.Utility;
@model OrderVM
<form method="post"  >
	@*when there is no post action...there will not be error..IT JUST REFRESHES*@
	<br />
	<input asp-for="OrderHeader.Id" hidden />
	<div class="container">
		<div class="card">
			<div class=" row container" style="margin-top:1vh;">
				@*<div class="col-12 d-none d-md-block col-md-6 pb-1" >
					<i class="fas fa-shopping-cart"></i> 
				</div>*@
				<div class="col-8 "></div>
				<div class="col-4 " >
					<a   asp-action="Index" asp-controller="Orders" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span style="color:#5BC0DE;">PickUp Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
								{
									<div class="col-9">
										<input asp-for="OrderHeader.Name" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.Name"></span>
									</div>
								}
								else
								{
									<div class="col-9">
										<input asp-for="OrderHeader.Name" type="text" class="form-control" readonly/>
										<span asp-validation-for="OrderHeader.Name"></span>
									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
								{
									<div class="col-9">
										<input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PhoneNumber"></span>
									</div>
								}
								else
								{
									<div class="col-9">
										<input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" readonly />
										<span asp-validation-for="OrderHeader.PhoneNumber"></span>

									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-3">Address</div>
								@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
								{
									<div class="col-9">
										<input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.StreetAddress"></span>

									</div>
								}
								else
								{
									<div class="col-9">
										<input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" readonly />
										<span asp-validation-for="OrderHeader.StreetAddress"></span>

									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-3">City</div>
								@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
								{
									<div class="col-9">
										<input asp-for="OrderHeader.City" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.City"></span>

									</div>
								}
								else
								{
									<div class="col-9">
										<input asp-for="OrderHeader.City" type="text" class="form-control" readonly />
										<span asp-validation-for="OrderHeader.City"></span>

									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-3">State</div>
								@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
								{
									<div class="col-9">
										<input asp-for="OrderHeader.State" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.State"></span>

									</div>
								}
								else
								{
									<div class="col-9">
										<input asp-for="OrderHeader.State" type="text" class="form-control" readonly />
										<span asp-validation-for="OrderHeader.State"></span>

									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-3">Zip Code</div>
								@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
								{
									<div class="col-9">
										<input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PostalCode"></span>

									</div>
								}
								else
								{
									<div class="col-9">
										<input asp-for="OrderHeader.PostalCode" type="text" class="form-control" readonly />

										<span asp-validation-for="OrderHeader.PostalCode"></span>

									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-3">Email</div>
								<div class="col-9">
									<input asp-for="OrderHeader.ApplicationUser.Email" type="text" class="form-control" readonly />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Order Date</div>
								<div class="col-9">
									<input type="text" value="@Model.OrderHeader.OrderDate.ToShortDateString()" class="form-control" readonly />
								</div>
							</div>
							<div class="row my-1">
							
								<div class="col-3">Carrier</div>
								<div class="col-9">
									@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
									{
										<input asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />
									}
									else
									{
										<input asp-for="OrderHeader.Carrier" readonly type="text" class="form-control" />
									}
								</div>
							    </div>
							<div class="row my-1">
								<div class="col-3">Tracking</div>
								<div class="col-9">
									@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
									{
										<input asp-for="OrderHeader.TrackingNumber" id="trackingnumber" type="text" class="form-control" />
									}
									else
									{
										<input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Shipping Date</div>
								<div class="col-9">
									<input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" id="shippingDate" type="text" readonly class="form-control" />
								</div>
							</div>
							@if (User.IsInRole(Util._Adm) || User.IsInRole(Util._Emp))
							{
						
								<div class="row my-1">
									<div class="col-3">Session ID</div>
									<div class="col-9">
										<input asp-for="OrderHeader.SessionId" type="text" readonly class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">Payment Intent ID</div>
									<div class="col-9">
										<input asp-for="OrderHeader.PaymentId" type="text" readonly class="form-control" />
									</div>
								</div>
							}
							
							@if(Model.OrderHeader.SessionId==null)
							{
							<div class="row my-1">
								<div class="col-3">Payment Due Date</div>
								<div class="col-9">
									<input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()" readonly class="form-control" />
								</div>
								</div>
							}
							else{
								<div class="row my-1">

								<div class="col-3">Payment Date</div>
								<div class="col-9">
									<input value="@Model.OrderHeader.PaymentDate.ToShortDateString()" readonly class="form-control" />
								</div>
								</div>

							}
							<div class="row my-1">
								<div class="col-3">Payment Status</div>
								<div class="col-9">
									<input type="text" asp-for="OrderHeader.PaymentStatus" readonly class="form-control" />
								</div>
							</div>
							@if (User.IsInRole(BooksGalore.Utility.Util._Adm) || (User.IsInRole(BooksGalore.Utility.Util._Emp)))
							{
								<input type="submit" asp-action="UpdateOrder" class="btn btn-warning form-control my-1" value="Update Order Details" />

								
							}


						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span style="color:#5BC0DE";>Order Summary</span>
							</h4>

							<label style="background-color:aquamarine" class="form-control my-2">Order Status - <b>@Model.OrderHeader.OrderStatus</b></label>
							<ul class="list-group mb-3 mt-2">
								<li class="list-group-item d-flex justify-content-between p-2">
									<div class="row container">
										@foreach(var i in Model.OrderDetails)
										{
										<div class="col-8 mt-2 mb-2">

											<h6 class="my-0 ">@i.product.Name</h6>
											<small class="text-muted" >Price :$ @i.Price.ToString("0.00")</small><br />
												<small class="text-muted" >Quantity :@i.Count</small>
										</div>
										<div class="col-4">
											<p class="text-success">$ @((i.Price * i.Count).ToString("0.00"))</p>
										</div>
										}
									</div>
								</li>
								
								<li class="list-group-item bg-info">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">TOTAL </h5>
										</div>
										<div class="col-6 text-right">
											<h5 class="text-white">$ @Model.OrderHeader.OrderTotal.ToString("0.00")</h5>
										</div>
									</div>
								</li>
							</ul>
							@if(User.IsInRole(Util._Emp)|| User.IsInRole(Util._Adm))
							{
								@if (Model.OrderHeader.OrderStatus == Util.StatusApproved)
								{
									<input asp-action="OrderProcessing" asp-route-OrderHeaderId="@Model.OrderHeader.Id" type="submit" class="btn btn-primary form-control my-1" value="Start Processing" />
								}
								@if (Model.OrderHeader.OrderStatus == Util.StatusInProcess)
								{
									<input asp-action="Shipping" onclick="return fun()"  type="submit" class="btn btn-primary form-control my-1" value="Ship Order" />
								
								}
								@if (Model.OrderHeader.OrderStatus != Util.StatusRefunded && Model.OrderHeader.OrderStatus != Util.StatusCancelled && Model.OrderHeader.OrderStatus != Util.StatusShipped)
								{
									<input asp-action="CancelOrder" type="submit" class="btn btn-danger form-control my-1" value="Cancel Order" />

								}
							}

							@if(Model.OrderHeader.OrderStatus==Util.StatusShipped && Model.OrderHeader.PaymentStatus == Util.PaymentStatusDelayedPayment )
							{
								<input type="submit" asp-action="PayNow" asp-route-OrderHeaderId="@Model.OrderHeader.Id" class="btn btn-success form-control my-1" value="Pay Now" />

							}
							@if (Model.OrderHeader.PaymentStatus == Util.PaymentStatusApproved)
							{
								<label style="background-color:mediumseagreen;border-color:black" class="form-control my-2 text-center">Already Paid - <b>$@Model.OrderHeader.OrderTotal.ToString("0.00")</b></label>

							}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@section myown
{
	<partial name="_toastr.cshtml" />
	<script>
		function fun() {
		
			if (document.getElementById("trackingnumber").value == "" || document.getElementById("carrier").value == "")
			{
				swal("Request Failed!!", "Tracking Number & Carrier Name can't be blank'", "error"); //heading, message, key{success,error}
				return false;

			}
			else
			{
				return true;
			}
		}
		
	</script>

}